[Unit]
Description=Prometheus service start

[Service]
User=root
Group=root
Type=simple
ExecStart=/etc/prometheus/prometheus --config.file=/etc/prometheus/prometheus.yml 



[Install]
WantedBy=multi-user.target

